@use "sass:map";
@import "../../../styles/pages/_theme.scss";

$gap: 10px;
$control-btn-size: 40px;

.category-slider {
  margin: 20px 0;

  .category-title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: start;
    align-items: center;
    background-color: map.get($theme-color, "main-color-light");
    display: flex;
    color: #fff;
    display: inline-block;
    padding: 10px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 3px;
      text-decoration-color: white;
    }
  }

  .productSlide-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 50px;

    .productSlide-list {
      display: flex;
      overflow-x: auto;
      cursor: grab;
      transition: opacity 0.3s ease;
      &.active {
        cursor: grabbing;
      }
      &.blurred {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .productSlide-item {
      min-width: 300px;
      background: white;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s, box-shadow 0.2s;

      &:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
      }

      .add-to-img {
        width: 100%;
        height: 200px;
        object-fit: contain;
        border-bottom: 1px solid #e0e0e0;
        &:hover {
          cursor: pointer;
        }
      }

      .item-productSlide-bottom {
        padding: 10px;
        text-align: center;

        .product-title {
          font-size: 18px;
          color: #333;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .product-price {
          font-size: 16px;
          color: map.get($theme-color, "main-color");
        }

        .product-remaining {
          font-size: 14px;
          color: #888;
        }
        .add-to-cart-detail {
          text-align: center;
          width: fit-content;
          padding: 10px 15px;
          font-size: 16px;
          font-weight: bold;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          transition: all 0.3s ease;
          background-color: map.get($theme-color, "primary");
          color: #fff;

          &:hover {
            background-color: darken(map.get($theme-color, "primary"), 10%);
            transform: translateY(-2px);
          }
        }
        .grp-price {
          .price {
            margin-top: 20px;
            font-size: 18px;
            color: map.get($theme-color, "main-color");
            font-weight: bold;
          }
          .price-old {
            font-size: 16px;
            color: map.get($theme-color, "text");
            margin: auto;
            text-decoration: line-through;
          }
          .price-new {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            .price-discount {
              font-size: 18px;
              color: map.get($theme-color, "main-color");
              font-weight: bold;
            }
            .discount {
              padding: 0 4px;
              width: fit-content;
              font-size: 16px;
              color: map.get($theme-color, "main-color");
              border: 1px solid map.get($theme-color, "main-color");
              background-color: rgba(131, 210, 255, 0.384);
              border-radius: 10%;
            }
          }
        }
      }
    }

    .slider-control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      cursor: pointer;
      z-index: 1;
      width: $control-btn-size;
      height: $control-btn-size;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }

      &.prev {
        left: 10px;
        &:hover {
          background-color: map.get($theme-color, "main-color");
        }
      }

      &.next {
        right: 10px;
        &:hover {
          background-color: map.get($theme-color, "main-color");
        }
      }
    }
  }
}
